html
    head
        title Techscript
        link(rel="stylesheet" href="normalize.css")
        link(rel="stylesheet" href="style.css")
        link(href="https://fonts.googleapis.com/css?family=Oswald:400,600|Roboto:300,400,500" rel="stylesheet")
        
    body
   
    .wrapper_head
        .logo TECHSCRIPT
        .mypage heiwa
        .bookmark hallo
        .events hola
        
        
        
    .wrapper_main
        .column1.box
            .filter_menu 
                
                
        .column2.box
            .article_large 
                .article_photo_large
                    
                    h1 Google’s top secret weapon
                    h2 – a hacker they call their Security Princess
                p.article_description 4. September 2017 / Monday 14:19
                p.article_text Lorem ipsum dolor sit amet, te vel meis omnis vivendo, eum ad impedit deserunt splendide. Vim ex admodum partiendo, diceret officiis per eu. 
                
            .article_small 
                .article_photo_small
                    
                    h1 Google’s top secret weapon
                    h2 – a hacker they call their Security Princess
                p.article_description 4. September 2017 / Monday 14:19
                p.article_text Lorem ipsum dolor sit amet, te vel meis omnis vivendo, eum ad impedit deserunt splendide. Vim ex admodum partiendo, diceret officiis per eu. 
                
            .article_small 
                .article_photo_small
                    
                    h1 Google’s top secret weapon
                    h2 – a hacker they call their Security Princess
                p.article_description 4. September 2017 / Monday 14:19
                p.article_text Lorem ipsum dolor sit amet, te vel meis omnis vivendo, eum ad impedit deserunt splendide. Vim ex admodum partiendo, diceret officiis per eu. 
                
                
        .column3.box
            .event 
                .calender
                .event_text Lorem ipsum
            .event 
                .calender
                .event_text Lorem ipsum
                
            .event 
                .calender
                .event_text
                
            .event
                .calender
                .event_text 
                
            .event 
                .calender
                .event_text
                
            .event 
                .calender
                .event_text
                
            
        
    
    
    