html
    head
        title Techscript
        link(rel="stylesheet" href="normalize.css")
        link(rel="stylesheet" href="article.css")
        link(href="https://fonts.googleapis.com/css?family=Oswald:400,600|Roboto:300,400,500" rel="stylesheet")
        
        


        
    body
   
        
    .wrapper_main
        .article_layout 
            .title TECHSCRIPT
            article   
                h1 Google’s top secret weapon
                p.article_description 4. September 2017 / Monday 14:19
                .entry-content
                p.article_text.content Lorem ipsum dolor sit amet, te vel meis omnis vivendo, eum ad impedit deserunt splendide. Vim ex admodum partiendo diceret officiis per eu.  
                
                
                
                
        .column2.box
        
            .photo_box
        
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="js/plugins/readingTime.js")
        
        
 
 

